.like-button-root {
    width: 100%;
    display: grid;
    max-width: 100%;

    .like-button {
        padding: .3rem;
        background-color: white;
        color: black;
        border: 1px solid black;
        border-radius: 3px;
        cursor: pointer;
        font-size: 16px;
    }
}